
body{
    background-color: #990e38;

}
.cabeçalho-da-pagina
{
    background-color: #ffffff; /*COR DO FUNDO DO CABEÇALHO*/ 
    display: block; /* BLOCO DE ELEMENTO*/
    margin-left: auto;
    margin-right: auto;
}
h2 {
    color: #990e38;
    font-family: 

}